/* UserLogin.css */
.login-container {
    background-color: #f8f9fa;
    height: 90vh;
    display: flex;
    align-items: center;
  }
  
  .login-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-form span {
    display: inline-block; /* Ensures the span is treated as an inline-block element */
    margin-bottom: 0; /* Removes any bottom margin */
  }
  
  /* Add more styling as needed */
  